<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="headerFragment">
<header class="mb-4 mt-5">
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <a th:if="${prevPage} != null" th:href="${prevPage}" class="btn btn-outline-dark">
                <i class="bi bi-backspace"></i>
            </a>
            <button th:if="${prevPage} != null" type="button" class="btn btn-outline-dark" th:onclick="|location.href='@{/}'|"> <i class="bi bi-house"></i></button>
            <button type="button" class="btn btn-outline-dark" th:onclick="|location.href='@{/logout}'|"><i class="bi bi-unlock"></i></button>
        </header>
    </div>
</header>
</body>
</html>