<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>메인페이지</title>
    <th:block th:replace="fragment/config :: configFragment"></th:block>
</head>
<body>

<main>
    <th:block th:replace="fragment/header :: headerFragment"></th:block>
    <div class="container">
        <div class="row align-items-md-stretch">
            <div class="p-5 text-bg-dark rounded-3">
                <h2><i class="bi bi-emoji-smile-fill"></i> 내가 만들고 싶어서 만든 프로젝트 </h2>
            </div>
        </div>
        <div class="container px-4 py-5" id="hanging-icons">
            <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                <div class="col d-flex justify-content-center align-items-center">
                    <div>
                        <h3 class="fs-2"><i class="bi bi-journal"></i> Guest Book </h3>
                        <div class="mb-1 text-muted">2023-02-25 ~ 2023-03-24</div>
                        <p  class="fw-bold">기본적으로 필요한 방명록 서비스</p>
                        <p class="card-text mb-2">JPA / SPRING / H2</p>
                        <button class="btn btn-success" th:onclick="|location.href ='@{/toy/board}'|">
                            <i class="bi bi-arrow-right-circle"></i>
                        </button>
                    </div>
                </div>
                <div class="col d-flex justify-content-center align-items-center">
                    <div>
                        <h3 class="fs-2"><i class="bi bi-image"></i> Karlo AI picture </h3>
                        <div class="mb-1 text-muted">2023-03-24 ~ 2023-03-28</div>
                        <p class="fw-bold">궁금해서 만들어본 AI 이미지 생성 서비스</p>
                        <p class="card-text mb-2">REST API / Karlo API</p>
                        <button class="btn btn-success" th:onclick="|location.href ='@{/toy/karlo}'|">
                            <i class="bi bi-arrow-right-circle"></i>
                        </button>
                    </div>
                </div>
                <div class="col d-flex justify-content-center align-items-center">
                    <div>
                        <h3 class="fs-2"><i class="bi bi-globe"></i> Papago Service </h3>
                        <div class="mb-1 text-muted">2023-09-24 ~ 2023-10-09</div>
                        <p class="fw-bold">내가 필요해서 만든 Papago 번역 서비스</p>
                        <p class="card-text mb-2">REST API / Papago API</p>
                        <button class="btn btn-success">
                            <i class="bi bi-arrow-right-circle" th:onclick="|location.href = '@{/toy/papago}'|"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<th:block th:replace="fragment/footer :: footerFragment"></th:block>
</body>
</html>