<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      >
<head>
    <meta charset="UTF-8">
    <title>메인페이지</title>
    <th:block th:replace="fragment/config :: configFragment"></th:block>
    <link rel="stylesheet" th:href="@{css/loginSign.css}">
</head>
<body>
<main class="form-signin w-100 m-auto" >
    <form method="post" th:action="@{/login}">
        <img class="mb-4" th:src="@{img/test.png}" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">Login</h1>

        <div class="form-floating mb-3">
            <input type="text" class="form-control rounded-3" id="username" name="username" placeholder="Id" required>
            <label for="username">Id</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control rounded-3" id="password" name="password" placeholder="Password" required>
            <label for="password">Password</label>
        </div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <div class="d-flex">
            <button class="w-50 btn btn-primary" type="submit">Sign in</button>
            <button  class="w-50 btn btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#modalSignin">Sign Up</button>
        </div>
        <p class="mt-5 mb-3 text-muted">&copy; Dev_Lee</p>
    </form>
</main>
<th:block th:replace="signUp :: signUpModal"></th:block>
</body>
</html>