<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="fragment/config :: configFragment"></th:block>
</head>
<body>
<th:block th:replace="fragment/header :: headerFragment"></th:block>
<main class="container">
    <div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic">Karlo AI Picture</h1>
        </div>
    </div>
    <div class="row g-5">
        <div class="col-md-8" id="karloImageSection">
            <h4 class="text-muted col-md-8">Picture</h4>
            <button class="btn btn-primary" type="button" id="loadingImage" hidden disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                <span class="visually-hidden">Loading...</span>
            </button>
        </div>
        <div class="col-md-4">
            <div class="position-sticky" style="top: 2rem;">
                <h4 class="text-muted">What Do you want? </h4>
                <div class="form-floating mb-3">
                    <textarea class="form-control" id="requested" name="requested" style="height: 100px"></textarea>
                    <label for="requested">Requested</label>
                </div>
                <button class="w-100 mb-2 btn rounded-3 btn-info" th:onclick="|javascript:getKarloImage()|" type="button">OK</button>
                <div class="alert alert-dark" id="requestedAlert" hidden role="alert">
                    요청사항을 입력해주세요.
                </div>
            </div>
        </div>
    </div>
</main>

<th:block th:replace="fragment/footer :: footerFragment"></th:block>
</body>

<script th:inline="javascript">
    /*<![CDATA[*/



    function getKarloImage(){

        if($("#requested").val() == ""){
            $("#requestedAlert").removeAttr("hidden");
            return false;
        }

        $("#loadingImage").removeAttr("hidden");
        $("#requestedAlert").attr("hidden","hidden");

        $.ajax({
            url : "/toy/getKarloImage",
            data : {"requested" : $("#requested").val()} ,
            type : "POST",
            success : (data) =>{
                $("#karloImageSection").append("<img src='data:image/png;base64,"+ data +"' class='img-fluid'/>");
                $("#loadingImage").attr("hidden","hidden");
            }
        })

    }

    /*]]>*/
</script>
</html>