<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="fragment/config :: configFragment"></th:block>
</head>
<body>
<th:block th:replace="fragment/header :: headerFragment"></th:block>
<main class="container">
    <div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
        <div class=" px-0">
            <h1 class="display-4 fst-italic">Papago Translatation Service</h1>
        </div>
    </div>
    <div class="row g-5">
        <div class="col-md-6 ">
            <select class="form-select mb-2" id="sourceSelectBox" aria-label="Default select example" required>
                <option selected value="">- 선택 -</option>
                <option value="ko">한국어</option>
                <option value="en">영문</option>
            </select>
            <div id="sourceSelectBoxFeedback" class="invalid-feedback">
                원문 언어를 선택해주세요.
            </div>
            <div class="form-floating">
                <textarea class="form-control" id="requested" name="requested" style="height: 100px" required></textarea>
                <label for="requested">원문</label>
                <div id="requestedFeedback" class="invalid-feedback">
                    원문을 작성해주세요.
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <select class="form-select mb-2" id="targetSelectBox" aria-label="Default select example" required>
                <option selected value="">- 선택 -</option>
                <option value="ko">한국어</option>
                <option value="en">영문</option>
            </select>
            <div id="targetSelectBoxFeedback" class="invalid-feedback">
                번역할 언어를 선택해주세요.
            </div>
            <div class="form-floating">
                <textarea class="form-control" readonly id="result" name="result" style="height: 100px"></textarea>
                <label for="result">번역</label>
            </div>
        </div>
        <button class="w-50 mb-2 btn rounded-3 btn-info"   th:onclick="|javascript:getPapagoTranslate()|" type="button">번역하기</button>
    </div>
</main>

<th:block th:replace="fragment/footer :: footerFragment"></th:block>
</body>

<script th:inline="javascript">
    /*<![CDATA[*/

    function getPapagoTranslate(){

        var sourceSelectBox =  $("#sourceSelectBox").val();
        var targetSelectBox =  $("#targetSelectBox").val();
        var requested =  $("#requested").val();

        if(sourceSelectBox == '') {
            $("#sourceSelectBox").removeClass("is-valid").addClass("is-invalid");
        }else{
            $("#sourceSelectBox").removeClass("is-invalid").addClass("is-valid");
        }

        if(targetSelectBox == '') {
            $("#targetSelectBox").removeClass("is-valid").addClass("is-invalid");
        }else{
            $("#targetSelectBox").removeClass("is-invalid").addClass("is-valid");
        }

        if(requested == '') {
            $("#requested").removeClass("is-valid").addClass("is-invalid");
        }else{
            $("#requested").removeClass("is-invalid").addClass("is-valid");
        }

        if(requested!= '' && targetSelectBox != '' && sourceSelectBox != '' ){
            $.ajax({
                url : "/toy/getPapagoTranslate",
                data : {
                    "source" : sourceSelectBox,
                    "target" : targetSelectBox,
                    "requested" : requested,
                } ,
                type : "POST",
                success : (data) =>{
                    $("#result").val(data)
                }
            })
        }
    }
    /*]]>*/
</script>
</html>