<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="fragment/config :: configFragment"></th:block>
</head>
<body>
<th:block th:replace="fragment/header :: headerFragment"></th:block>
<main class="container">
    <div class="row p-4 p-md-5 mb-4 rounded text-bg-dark">
        <div class="col-md-6 px-0 text-center">
            <h1 class="display-4 fst-italic"><i class="bi bi-cast"></i> Toy Project</h1>
        </div>
        <div class="col-md-6 text-lg-center">
            <p class="fw-bold">I've created several personal projects. <br> I recommend you to experience it.</p>
        </div>
    </div>
    <div class="row g-5">
        <div class="col-md-3">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0"><i class="bi bi-journal"></i> Guest Book</h3>
                    <div class="mb-1 text-muted">2023-02-25 ~ 2023-03-24</div>
                    <p class="card-text mb-2">JPA / SPRING / H2</p>
                    <button class="btn btn-success w-25" th:onclick="|location.href='@{/toy/board}'|">
                        <i class="bi bi-arrow-right-circle"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0"><i class="bi bi-image"></i> Karlo AI picture</h3>
                    <div class="mb-1 text-muted">2023-03-24 ~ 2023-03-28</div>
                    <p class="card-text mb-2">REST API / KAKAO API</p>
                    <button class="btn btn-success w-25" th:onclick="|location.href='@{/toy/karlo}'|">
                        <i class="bi bi-arrow-right-circle"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        Preparing...
                    </h3>
                    <div class="mb-1 text-muted"> -</div>
                    <p class="card-text mb-2"> -- </p>
                    <button class="btn btn-success w-25" disabled>
                        <i class="bi bi-arrow-right-circle"></i>
                    </button>
                </div>
            </div>
        </div>

    </div>
</main>
<th:block th:replace="fragment/footer :: footerFragment"></th:block>
</body>
</html>